*{
/* "css reset" */
margin: 0;
padding: 0;
box-sizing: border-box;



}
header{
background-color:orange;

padding: 1rem; 
border: .5rem solid pink;
display:flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
gap: 1rem 2rem;

}
header > * {
    outline: 2px solid white;
}
.logo{
font-size: 2rem;
font-family: arial;
text-decoration: none;
border-radius: 50%;
background-color:white;
padding:.25rem;


}
.top-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    


}
.top-menu a{
    text-decoration: none;
    transition: color .5s;
}
.top-menu a :hover{

color: green;


}
img{
    display:block
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    gap: 1rem;

}
.gallery img{
    width: min(300px, 100%);
    flex-grow: 1;
    
}


